</body>
<footer class="footer bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h5>
                    Quick Links
                    <ul class="list-unstyled quick-links">
                        <li><a class="fa fa-angle-double-right" href="">Welcome</a></li>
                        <li><a class="fa fa-angle-double-right" href="">Projects</a></li>
                        <li><a class="fa fa-angle-double-right" href="">Activities</a></li>
                        <li><a class="fa fa-angle-double-right" href="">About</a></li>
                        <li><a class="fa fa-angle-double-right" href="">Contact Us</a></li>
                    </ul>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href=""><i class="fa"></i>Facebook</a></li>
                    <li class="list-inline-item"><a href=""><i class="fa"></i>Instagram</a></li>
                    <li class="list-inline-item"><a href=""><i class="fa"></i>Youtube</a></li>
                </ul>
            </div>
        </div>
	<div class="row">
            <div class="col text-center text-white">
		<p>
                    <u><a href="">Charicha</a></u>
		</p>
            </div>
            <p class="h6">
		All rights reserved
		<a class="text-green" href="">Charicha</a>
            </p>
	</div>
    </div>
</footer>


</html>
