<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
	<h1> Charicha Add Project </h1>
	<form class="form">
	    <!-- action="/addproject" method="post"> -->
	    <div class="form-group">
		<label for="projectName"> Project Name </label>
		<input class="form-control" name="projectName" type="text" value=""/>
		<small class="form-text text-muted"> Name of the Project </small>
	    </div>
	    <div class="form-group">
		<label for="projectDesc"> Project Description </label>
		<input class="form-control" name="projectDesc" type="text" value=""/>
		<small class="form-text text-muted"> Description of the Project </small>
	    </div>
	    <div class="form-group">
		<label for="projectStart"> Deadline Date </label>
		<input class="form-control" name="projectStart" type="date" value=""/>
		<small class="form-text text-muted"> Deadline of the Project </small>
	    </div>
	    <div class="form-group">
		<label for="projectEnd"> Deadline Date </label>
		<input class="form-control" name="projectEnd" type="date" value=""/>
		<small class="form-text text-muted"> Deadline of the Project </small>
	    </div>
	    <div class="form-group">
		<input class="form-control btn-primary" id="buttonAddProject" type="button" value="Add Project"/>
	    </div>
    </div>
	</form>
</div>
